<script>

$( document ).ready(function() {
	$("input[name=Nick],input[name=Password]").toggleClass("form-control");
}); 
    
function deleteUser(id) {    
	var _xsrf = getXSRFData(); 
	$.ajax({
		url: "/user?_xsrf=" + _xsrf + "&Id=" + id,
		type: 'DELETE',
		success: function (response) {
			location.reload();
		}
	});
    return 0;
}

function activateUser(id) {    
	var _xsrf = getXSRFData(); 
	$.ajax({
		url: "/user/activate?_xsrf=" + _xsrf + "&Id=" + id,
		type: 'POST',
		success: function (response) {
			location.reload();
		}
	});
    return 0;
}

function editUser(id) { 
	location.href = "user?Id=" + id;
}
</script>