<script>

$( document ).ready(function() {
	$("input[name=Nick],input[name=Password]").toggleClass("form-control");
}); 
    
function deleteUser(id) {    
	var _xsrf = getXSRFData(); 
	$.ajax({
		url: "/user?_xsrf=" + _xsrf + "&Id=" + id,
		type: 'DELETE',
		success: function (response) {
			location.reload();
		}
	});
    return 0;
}

function activateUser(id) {    
	var _xsrf = getXSRFData(); 
	$.ajax({
		url: "/user/activate?_xsrf=" + _xsrf + "&Id=" + id,
		type: 'POST',
		success: function (response) {
			location.reload();
		}
	});
    return 0;
}

function editUser(id) { 
	location.href = "user?Id=" + id;
}

// ================= Auditoria 

var Audits = {{.Audits}};
	
	var Datasets = [];
	
	var labels = [];
	
	for(i in Audits) {
	
		var data = new Date(Audits[i].Date);
		data.setHours( data.getHours() + 3 );
	
		if(labels[data.getHours()] == undefined) {
			labels[data.getHours()] = 1;
		} else {
			labels[data.getHours()]++;
		} 
	}
	
	var nome = Object.keys(labels);
	
	labels = labels.filter(function(val){
		return val;
	});
	
	for(j in nome) {
		nome[j] = nome[j] + ' Horas';
	}
	
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: nome,
			datasets: [{
				label: 'Número de Logins',
				data: labels,
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
					'rgba(255,99,132,1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero:true
					}
				}]
			}
		}
	});

</script>
