<form accept-charset="utf-8" role="form" class="form-signin text-center" method="POST" action='{{urlfor "LoginController.Login"}}'>
        
    <img class="mb-4" src="/static/img/PUC.png" alt="" width="50%" >
    <h1 class="h3 mb-3 font-weight-normal">{{ .Titulo }}</h1>

    <label for="inputNick" class="sr-only">Nick: </label>
    <input class="form-control" placeholder="Usuário" name="Nick" value="{{index .Params "Login"}}" type="text" required 
            id="inputNick" />
    <label for="inputPassword" class="sr-only">Senha:</label>
    <input class="form-control" placeholder="Senha" name="Password" type="password" value="" required 
            pattern=".{5,}" title="Password" id="inputPassword"  />
    <input class="btn btn-lg btn-success" type="submit" value="Login">
    <input class="btn btn-lg btn-info" type="button" value="Novo" 
        onclick="location.href = {{ urlfor "UserController.Signup" }}">
    {{ .xsrfdata }}
</form>