<div class="row text-center mt-3">
    <div class="col">
        <i class="fa fa-users fa-4x text-dark"></i>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <h3> Usuários </h3>
     </div>
</div>
<div class="row justify-content-md-center"> 
    <div class="col-sm-4 form-group">
        <form id="user" action="signup" method="post">
            {{ .xsrfdata }}
            {{.Form | renderform}}
            
            {{if not .Form.Id }}
            <button type="submit" value="Salvar" class="btn btn-primary" style="font-size:1.5em;">
                <i class="fa fa-save"></i> Salvar
            </button>
            {{else}}
            <button type="submit" value="Editar" class="btn btn-primary" style="font-size:1.5em;">
                <i class="fa fa-edit"></i> Editar
            </button>

            <form action="{{ urlfor "LoginController.Login" }}">
                <button class="btn btn-secondary" type="submit" style="font-size:1.5em;">
                    <i class="fa fa-user-plus"></i> Novo
                </button>
            </form>
            {{end}}
        </form>
    </div>
</div>