<div class="row text-center mt-3">
    <div class="col">
        <i class="fa fa-users fa-4x text-dark"></i>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <h3> Usuários </h3>
     </div>
</div>
<div class="row justify-content-md-center"> 
    <div class="col-sm-4 form-group">
        <form id="{{.Action}}" action="signup" method="POST">
            {{ .xsrfdata }}
            {{.Form | renderform}}
            
            {{if not .Form.Id }}
            <button type="submit" value="Salvar" class="btn btn-primary" style="font-size:1.5em;">
                <i class="fa fa-save"></i> Salvar
            </button>
            {{else}}
            <button type="submit" value="Editar" class="btn btn-primary" style="font-size:1.5em;">
                <i class="fa fa-edit"></i> Editar
            </button>

            <button type="button" class="btn btn-secondary" onclick="location.href='{{ urlfor "UserController.Get" }}'" style="font-size:1.5em;">
                <i class="fa fa-user-plus"></i> Novo
            </button>
            {{end}}
        </form>
    </div>
</div>