{{ template "view/signup.html" . }}
<div class="row justify-content-md-center"> 
    <div class="table-responsive w70">
        <table id="table_users" align="center" class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{range $val := .Users}}
                    <tr id="{{$val.Id}}" onClick="">
                        <td>{{$val.Id}}</td>
                        <td>{{$val.Nick}}</td>
                        <td class="w20 ">
                            {{if $val.Status}}
                                <span class="badge badge-success">Ativo</span>
                            {{else}}
                                <span class="badge badge-danger">Inativo</span>
                            {{end}}
                        </td>
                        <td class="w10">
                            <div class="d-flex  justify-content-between">
                                
                            {{if not $val.Status}}
                                <div class="pl-1 pr-2 pointer">
                                    <i onclick='activateUser("{{ $val.Id }}")' class="fa fa-user text-success fa-2x" title="Ativar"></i>
                                </div>
                            {{else}}
                                <div class="pr-2 pointer">
                                    <i onclick='deleteUser("{{ $val.Id }}")' class="fa fa-user-slash text-danger fa-2x" title="Excluir"></i>
                                </div>
                            {{end}}
                                <div class="pointer">
                                    <i onclick='editUser("{{ $val.Id }}")' class="fa fa-user-cog text-primary fa-2x" title="Editar"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>